@using Kampus.Entities
@using Kampus.Models
@{
    ViewBag.Title = "Settings";
    UserModel user = ViewBag.CurrentUser;
}

<html>
<head>
    <link rel="SHORTCUT ICON" href="~/Images/favicon.png" type="image/x-icon"/> <title>Налаштування</title>

    @Scripts.Render("~/bundles/jquery")

    <link rel="stylesheet" href="../../Content/null_style.css"/>
    <link rel="stylesheet" href="../../Content/register_style.css"/>

    <link rel="stylesheet" href="../../Content/notifications_style.css" />
    <link rel="stylesheet" href="../../Content/settings_style.css" />
    <link rel="stylesheet" href="~/Content/toolbar_style.css" />

    <script src="~/Scripts/My/notification.js"></script>
    <script src="~/Scripts/My/readurl.js"></script>
    <script src="~/Scripts/My/get_university_faculties.js"></script>
    <script src="~/Scripts/My/settings_index.js"></script>

</head>
<body>
    @Html.Partial("Toolbar")
<div id="mainsettings">
    <div id="mainheader" class="settingsheader">Налаштування</div>

    <div id="changeavatarheader" class="settingsheader">Змінити аватар</div>
    <div id="changeavatar">
        @using (Html.BeginForm("ChangeAvatar", "Settings", null, FormMethod.Post,
            new {enctype = "multipart/form-data", @class = "avatarform"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <img class="imgavatar" src="@user.Avatar"/>

            <input id="addavatar" title="Додати"
                   type="file" name="file"/>

            <input type="submit" class="nextstep" value="Змінити"/>
        }

    </div>
    <div id="changepasswordheader" class="settingsheader">Змінити пароль</div>
    <div id="changepassword">
        @using (Html.BeginForm("ChangePassword", "Settings", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <input type="password" class="inputSignIn" placeholder="Старий пароль" name="oldpassword"/>
            <input type="password" class="inputSignIn" placeholder="Новий пароль" name="newpassword"/>
            <input type="password" class="inputSignIn" placeholder="Підтвердіть пароль" name="newpasswordconfirm"/>

            <input type="submit" class="nextstep" value="Змінити"/>
        }
    </div>
    <div id="changestatusheader" class="settingsheader">Змінити статус</div>
    <div id="changestatus">
        @using (Html.BeginForm("ChangeStatus", "Settings", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <textarea class="inputSignIn" placeholder="Статуc" name="status">
            @user.Status
        </textarea>

            <input type="submit" class="nextstep" value="Змінити"/>
        }

    </div>
    <div id="changecityheader" class="settingsheader">Змінити місто</div>
    <div id="changecity">
        @using (Html.BeginForm("ChangeCity", "Settings", FormMethod.Post))
        {
            <div class="slate" id="city">
                <select name="city">
                    @foreach (CityModel city in ViewBag.Cities)
                    {
                        if (city.Name == user.City)
                        {
                            <option selected value="@city.Name">@city.Name</option>
                        }
                        else
                        {
                            <option value="@city.Name">@city.Name</option>
                        }
                    }
                </select>
            </div>

            <input type="submit" class="nextstep" value="Змінити"/>
        }
    </div>
    <div id="changestudentdataheader" class="settingsheader">Змінити дані про навчання</div>
    <div id="changestudentdata">
        @using (Html.BeginForm("ChangeStudentInfo", "Settings", FormMethod.Post))
        {
            <div class="slate" id="university">
                <select name="university" id="UniversityName">
                    @foreach (UniversityModel uni in ViewBag.Universities)
                    {
                        if (uni.Name == user.UniversityName)
                        {
                            <option selected value="@uni.Name">@uni.Name</option>
                        }
                        else
                        {
                            <option value="@uni.Name">@uni.Name</option>
                        }
                    }
                </select>
            </div>

            <div class="slate" id="faculty">
                <select name="faculty" id="UniversityFaculty">
                    @foreach (UniversityFacultyModel fac in ViewBag.Faculties)
                    {
                        if (fac.Name == user.UniversityFaculty)
                        {
                            <option selected value="@fac.Name">@fac.Name</option>
                        }
                        else
                        {
                            <option value="@fac.Name">@fac.Name</option>
                        }
                    }
                </select>
            </div>

            <input type="number" class="inputSignIn" placeholder="Ваш курс" value="@user.UniversityCourse" name="course"/>

            <input type="submit" class="nextstep" value="Змінити"/>
        }
    </div>
</div>
</body>
</html>
