@using Kampus.Models
@{
    ViewBag.Title = "ExecutionReview";
    TaskModel task = ViewBag.Task;
}
@model ExecutionReviewModel

<html>
<head>
    <link rel="SHORTCUT ICON" href="/Images/favicon.png" type="image/x-icon"/> <title>Оцінка виконання завдання</title>

    <link rel="stylesheet" href="~/Content/null_style.css"/>
    <link rel="stylesheet" href="~/Content/register_style.css"/>
    <link rel="stylesheet" href="~/Content/tasks_style.css" />
    <link rel="stylesheet" href="~/Content/notifications_style.css"/>
    <link rel="stylesheet" href="~/Content/toolbar_style.css" />

    <script src="~/Scripts/My/notification.js"></script>
    <script src="~/Scripts/My/task_execution_review.js"></script>
</head>
<body>
@Html.Partial("Toolbar")
    <div style="position: absolute; top: 0; bottom: 40px;left: 0;right: 0;width: 500px;height: 250px;margin: auto;">
        <div style="font-size: 25pt; width: 600px; text-align: center;">Залиште свій відгук про виконання завдання</div>
        <div id="mainregister">
            @using (Html.BeginForm("CreateReview", "Task", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()

                <div>
                    @Html.TextBoxFor(model => model.Rating, new { id = "inputSignInName", @class = "inputSignIn", placeholder = "Оцінка(від 1 до 5)", type = "number", min="1", max="5"})
                    @Html.ValidationMessageFor(model => model.Rating)
                </div>

                <div>
                    @Html.TextAreaFor(model => model.Review, new {id = "inputSignInName", @class = "inputSignIn", placeholder = "Відгук", type = "text"})
                    @Html.ValidationMessageFor(model => model.Review)
                </div>
                
                @Html.HiddenFor(model => model.TaskId, new { value = task.Id })
                @Html.HiddenFor(model => model.Executor.Id, new { value = task.Executive.Id })

                <input type="submit"  id="nextstep" value="Відправити" />
            }
        </div>
    </div>
</body>
</html>

