@using Kampus.Models
@{
    ViewBag.Title = "Index";
    UserModel user = ViewBag.UserProfile;
}

<html>

<head>
    <title>Стіна</title>

    <link rel="SHORTCUT ICON" href="~/images/favicon.png" type="image/x-icon" />

    <link rel="stylesheet" href="~/css/null_style.css" />
    <link rel="stylesheet" href="~/css/profile_style.css" />
    <link rel="stylesheet" href="~/css/toolbar_style.css" />
    <link rel="stylesheet" href="~/css/notifications_style.css" />
    <link rel="stylesheet" href="~/css/attach_style.css" />

    <script type="text/javascript" src="~/lib/jquery/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="~/lib/knockout/knockout-3.4.0.js"></script>

    <script src="~/js/notification.js"></script>

    <script>
        var profileUsername = '@ViewBag.UserProfile.Username';
    </script>

    <script src="~/js/user_index.js"></script>
</head>

<body>
    @Html.Partial("Toolbar")

    <div id="wrapper">
        <div id="profile">
            <div id="profilebackground">
                <div id="profilebackgrounddetails">
                    <div id="profilebackgrounddetailsavatar">
                        <div id="profilebackgrounddetailsavatarimg">
                            <img id="profilebackgrounddetailsavatarimg1" src="@(string.IsNullOrEmpty(user.Avatar) ? Url.Content("/Images/question_mark.jpg") : Url.Content(string.Concat("../.." + user.Avatar)))" />
                        </div>
                    </div>
                    <div id="profilebackgrounddetailstext">
                        <div id="profilebackgrounddetailstextcred">
                            <div id="profiledetailsfullname">@user.FullName</div>
                            <div id="profiledetailsusername">@@@user.Username</div>
                            @if (user.Rating != 0)
                            {
                                <div id="profiledetailsrating">Ваш рейтинг: @user.Rating</div>
                            }
                            <div id="profilebackgrounddetailsavataricons">
                                @if (ViewBag.CurrentUser.Id == ViewBag.UserProfile.Id)
                                {
                                    <a href="@Url.Action("Friends", "User")"><img title="Підписатись" style="cursor: pointer;" id="addsubscriber" src="/Images/round/friends_icon.png" /></a>
                                    <a href="@Url.Action("Index", "Message")"><img title="Надіслати повідомлення" style="cursor: pointer;" id="sendmsg" src="/Images/round/messages_icon.png"></a>
                                    <a href="@Url.Action("ViewHomeTasks", "Task")"><img id="viewtasks" src="/Images/round/tasks_icon.png" /></a>
                                }
                                else
                                {
                                    <a><img title="Підписатись" style="cursor: pointer;" id="addsubscriber" src="/Images/round/friends_icon.png" /></a>
                                    <a><img title="Надіслати повідомлення" style="cursor: pointer;" id="sendmsg" src="/Images/round/messages_icon.png"></a>
                                    <a href="@Url.Action("ViewTasks", "Task", new { userId = ViewBag.UserProfile.Id })"><img id="viewtasks" src="/Images/round/tasks_icon.png" /></a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="profilebedgesandposts">
                <div id="profilebedges">
                    <div id="profilebedgesheader">Бейджі</div>
                    <div style="position: relative; left: -270px; width: 1200px; top: 40px;">
                        @{
                            if (user.Achievements != null)
                            {
                                var achievmentsToView = user.Achievements.Take(5);
                                for (int i = 0; i < achievmentsToView.Count(); i++)
                                {
                                    <img src="/Images/Categories/@(achievmentsToView.ElementAt(i) + ".png")" title="@achievmentsToView.ElementAt(i)" style="cursor:pointer; margin-left: 30px;" />
                                }
                            }
                        }
                    </div>
                </div>
                <div id="posts">
                    <div id="maininputmsg">
                        <div id="maininputmsgheader">Стіна</div>
                        <div id="maininputmsgcontent">
                            <div class="maininputmsgimages" data-bind="template: { name: 'attachment-image' , foreach: attachmentsImages }">

                            </div>
                            <textarea name="text" id="maininputmsgcontentinput"></textarea>
                            <div class="filerefs" data-bind="template: { name: 'attachment-file', foreach: attachments }">

                            </div>

                            <div class="maininputmsgcontentdivsend">
                                <img class="maininputaddphoto" src="/Images/add_photo.png" />
                                <img class="maininputaddfile" src="/Images/add_file.png" />

                                <input type="submit" value="Відправити" id="maininputmsgcontentsend" />
                                <input id="maininputmsgfilesin"
                                       type="file" name="file" multiple />

                            </div>
                        </div>
                        <div id="maininputmsgtriangle"></div>
                    </div>

                    @if (user.Posts != null)
                    {
                        <div id="postscontent">
                            <div data-bind="template: { name: 'wallpost-template', foreach: newWallposts }">

                            </div>
                            @foreach (WallPostModel post in ViewBag.UserProfile.Posts)
                            {
                                <div class="post">
                                    <div class="postcontent">
                                        @if (post.Attachments.Any(p => p.IsImage()))
                                        {
                                            foreach (var image in post.Attachments.Where(p => p.IsImage()))
                                            {
                                                <img class="attachImg" src="/Files/@image.RealFileName" />
                                            }
                                        }
                                        <div class="postcontenttext">
                                            @post.Content
                                        </div>
                                        @if (post.Attachments.Any(p => !p.IsImage()))
                                        {
                                            <div class="filerefs">
                                                @foreach (var link in post.Attachments.Where(p => !p.IsImage()))
                                                {
                                                    <div class="filerefcont">
                                                        <img src="/Images/round/attachment.png" /> @Html.ActionLink(link.FileName,
             "Download", "File", new { path = link.RealFileName, fileName = link.FileName },
             new { @class = "fileref" })
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                    <div class="postcommentshid">
                                        <div class="postcommentscontent">
                                            @if (post.Comments.Count > 0)
                                            {
                                                foreach (var comment in post.Comments)
                                                {
                                                    <div class="postcomment">
                                                        <div class="postcommentcontent">
                                                            <div class="postcommentcontenttext">
                                                                @comment.Content
                                                            </div>
                                                        </div>
                                                        <div class="postcommenttriangle"></div>
                                                        <div class="postcommentcreator">@@@comment.Creator.Username</div>
                                                        <div>
                                                            <input class="postcommentid" type="hidden" value="@comment.Id" />
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            <div data-bind="template: { name: 'wallpost-comment-template', foreach: newWallpostComments, as: 'comment' }">
                                                <div data-bind=",if: comment.WallPostId == @post.Id"></div>
                                            </div>
                                        </div>
                                        <div class="maininputcomment">
                                            <div class="maininputcommentcontent">

                                                <textarea name="text" class="maininputcommentinput"></textarea>

                                                <input type="button" value="Відправити" class="maininputcommentsend" />
                                            </div>
                                            <div class="maininputcommenttriangle"></div>
                                        </div>
                                    </div>

                                    <div class="postunder">
                                        <div class="postcreator">@@@post.Sender.Username</div>
                                        <div class="postbuttons">
                                            @if (ViewBag.CurrentUser.Id == ViewBag.UserProfile.Id)
                                            {
                                                <div class="postdelete">
                                                    <img src="/Images/bin.png" width="28" />
                                                </div>
                                            }
                                            <div class="postcomments">
                                                <span class="postcount">@post.Comments.Count</span> <img src="../Images/comments.png" align="middle" width="28" />
                                            </div>
                                            <div class="postlikes">
                                                <span class="postcount">@post.Likes.Count</span> <img src="../Images/like.png" width="28" />
                                            </div>
                                        </div>
                                        <div class="posttriangle"></div>
                                    </div>


                                    <input type="hidden" class="postid" value="@post.Id" />

                                </div>

                            }

                        </div>
                    }
                </div>
            </div>

        </div>

        <div id="aside">
            <div id="info">
                <div id="infoheader">
                    Інформація
                </div>
                <div id="infocontent">
                    <div class="infocontentrow" style="padding-top: 20px;">
                        <div class="infocontentkey">Дата народження:</div>
                        <div class="infocontentvalue">@user.DateOfBirth.ToShortDateString()</div>
                    </div>
                    <div class="infocontentrow">
                        <div class="infocontentkey">Місто:</div>
                        <div class="infocontentvalue">@user.City</div>
                    </div>
                    <div class="infocontentrow" style="margin-top: 20px;">
                        <div class="infocontentkey">ВУЗ:</div>
                        <div class="infocontentvalue">@user.UniversityName</div>
                    </div>
                    <div class="infocontentrow">
                        <div class="infocontentkey">Факультет:</div>
                        <div class="infocontentvalue">@user.UniversityFaculty</div>
                    </div>
                    <div class="infocontentrow" style="padding-bottom: 20px;">
                        <div class="infocontentkey">Курс:</div>
                        <div class="infocontentvalue">@user.UniversityCourse</div>
                    </div>
                </div>
            </div>

            <div id="friends">
                <a href="@Url.Action("Friends")" style="text-decoration: none;">
                    <div class="friendsheader">
                        Друзі
                    </div>
                </a>
                <div class="friendscontent">
                    @if (!user.Friends.Any())
                    {
                        <div class="nofr">Поки що немає друзів</div>
                    }
                    else
                    {
                        foreach (var friend in ViewBag.UserProfile.Friends)
                        {
                            <div>
                                <div class="friendcontentrow">
                                    <div>
                                        <img class="friendavatarimg" src="@(string.IsNullOrEmpty(friend.Avatar) ? Url.Content("/Images/question_mark.jpg") : friend.Avatar)" width="75">
                                    </div>
                                    <a href="@Url.Action("Id", "User", new{ Id = friend.Id })" style="text-decoration: none;"><div class="friendname">@@@friend.Username</div></a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

            <div id="subscribers">
                <a href="@Url.Action("Subscribers")" style="text-decoration: none;">
                    <div class="friendsheader">
                        Підписники
                    </div>
                </a>
                <div class="friendscontent">
                    @if (!user.Subscribers.Any())
                    {
                        <div class="nofr">Поки що немає підписників</div>
                    }
                    else
                    {
                        foreach (var subscriber in ViewBag.UserProfile.Subscribers)
                        {
                            <div>
                                <div class="friendcontentrow">
                                    <div>
                                        <img class="friendavatarimg" src="@(string.IsNullOrEmpty(subscriber.Avatar) ? Url.Content("/Images/question_mark.jpg") : subscriber.Avatar)" width="75">
                                    </div>
                                    <a href="@Url.Action("Id", "User", new{ Id = subscriber.Id })" style="text-decoration: none;"><div class="friendname">@@@subscriber.Username</div></a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="templateWallpost"></div>
    <div id="templateWallpostComment"></div>
    <div id="templateAttachments"></div>
    <div id="templateImages"></div>
</body>
</html>