@using Kampus.Models
@{
    Layout = null;
    List<UserShortModel> subscribers = ViewBag.CurrentUser.Subscribers;
}

<!DOCTYPE html>

<html>
<head>
    <title>Підписники</title>

    <link rel="SHORTCUT ICON" href="~/images/favicon.png" type="image/x-icon" />

    <link rel="stylesheet" href="~/css/null_style.css" />
    <link rel="stylesheet" href="~/css/friends_style.css" />
    <link rel="stylesheet" href="~/css/notifications_style.css" />
    <link rel="stylesheet" href="~/css/toolbar_style.css" />

    <script type="text/javascript" src="~/lib/jquery/jquery-1.8.2.js"></script>
    <script src="~/js/notification.js"></script>
</head>
<body>
    <div>
        @Html.Partial("Toolbar")

        <div id="wrapper">

            @if (!subscribers.Any())
            {
                <h1 class="header">У вас немає підписників</h1>
            }
            else
            {
                <h1 class="header">Підписники(@subscribers.Count())</h1>
                <div id="profiles">
                    @foreach (var user in subscribers)
                    {
                        <div class="profile">

                            <img align="left" class="profileavatar" src="@(user.Avatar ?? "http://www.redmangrove.com/blog/wp-content/uploads/2014/10/question-mark-xxl.png")" />

                            <a href="@Url.Action("Id", "User", new { Id = user.Id })" style="text-decoration: none;"><span class="profileusername">@@@user.Username</span></a>

                            <div>
                                @using (Html.BeginForm("AddAsAFriend", "User", FormMethod.Post))
                                {
                                    <input type="hidden" value="@user.Id" name="userId" />
                                    <input type="submit" value="Додати в друзі" class="buttonadd" />
                                }
                            </div>

                            <div>
                                <a class="buttonadd link" href="@Url.Action("Friends", "User", new { Id = user.Id})">Переглянути друзів</a>
                            </div>
                            <div>
                                <a class="buttonadd link" href="@Url.Action("Conversation", "Message", new { Username = user.Username })">Написати повідомлення</a>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</body>
</html>