
@using Kampus.Models
@model dynamic

@{
    Layout = null;
    List<TaskCategoryModel> categories = ViewBag.TaskCategories;
    List<TaskSubcategoryModel> subcategories = ViewBag.TaskSubcategories;
}

<!DOCTYPE html>

<html>
<head>
    <title>Категорії</title>

    <link rel="SHORTCUT ICON" href="~/images/favicon.png" type="image/x-icon" />

    <link rel="stylesheet" href="~/css/null_style.css" />
    <link rel="stylesheet" href="~/css/tasks_style.css" />
    <link rel="stylesheet" href="~/css/task_categories.css" />
    <link rel="stylesheet" href="~/css/notifications_style.css" />
    <link rel="stylesheet" href="~/css/toolbar_style.css" />

    <script type="text/javascript" src="~/lib/jquery/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="~/js/notification.js"></script>
</head>
<body>
    <div>
        @Html.Partial("Toolbar")
        <div id="main">
            <div id="mainheader">Категорії</div>
            <div id="categories">
                @foreach (var category in categories)
                {
                    <div class="category">
                        <div class="categoryheader">
                            <a class="categoryheadertxt" href="@Url.Action("SearchTasks", new {category = category.Id, subcategory = -1})">@category.Name</a>
                        </div>
                        <div class="subcategories">
                            @foreach (var subcategory in subcategories.Where(s => s.TaskCategoryId == category.Id).ToList())
                            {
                                <div class="subcategory">
                                    <div class="subcategoryheader">
                                        <a class="subcategoryheadertxt" href="@Url.Action("SearchTasks", new {category = category.Id, subcategory = subcategory.Id})">@subcategory.Name</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>