@using Kampus.Models
@{
    ViewBag.Title = "Tasks";
}
@{
    ViewBag.Title = "Tasks";
    List<TaskModel> tasks = ViewBag.Tasks;
    UserModel user = ViewBag.CurrentUser;
    SearchTaskModel search = ViewBag.SearchTask;
}

<html>
<head>
    <link rel="SHORTCUT ICON" href="/Images/favicon.png" type="image/x-icon"/> <title>Завдання</title>

    <link rel="stylesheet" href="~/Content/null_style.css" />
    <link rel="stylesheet" href="~/Content/attach_style.css" />
    <link rel="stylesheet" href="~/Content/tasks_style.css" />
    <link rel="stylesheet" href="~/Content/notifications_style.css"/>
    <link rel="stylesheet" href="~/Content/toolbar_style.css" />


    @Scripts.Render("~/bundles/jquery")
    
    <script src="~/Scripts/Libs/knockout/knockout-3.4.0.js"></script>
    <script src="~/Scripts/My/notification.js"></script>
    <script src="~/Scripts/My/task_index.js"></script>
    <script>
        $(document).ready(() => {
            taskIndexInit();
        });
    </script>
</head>
<body>
    @Html.Partial("Toolbar")
    <div id="wrapper">
        <div id="aside">
            <div id="tasksearchform">
                @using (Html.BeginForm("SearchTasks", "Task", FormMethod.Get))
                {

                    <input type="text" class="inputSignIn" id="searchrequest"
                           value="@(search.Request ?? "")" name="request" placeholder="Пошук" />

                    <div class="searchheader">Категорія</div>
                    <div class="slate" id="searchcategory" title="Категорія">
                        <select name="category">
                            <option value="-1"></option>
                            @if (search.CategoryId == null)
                            {
                                foreach (TaskCategoryModel category in ViewBag.TaskCategories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            }
                            else
                            {
                                foreach (TaskCategoryModel category in ViewBag.TaskCategories)
                                {
                                    if (category.Id == search.CategoryId)
                                    {
                                        <option value="@category.Id" selected>@category.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="searchheader">Підкатегорія</div>
                    <div class="slate" id="searchsubcategory" title="Підкатегорія">
                        <select name="subcategory">
                            <option value="-1"></option>
                            @if (search.SubcategoryId == null)
                            {
                                foreach (TaskSubcatModel category in ViewBag.TaskSubcategories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            }
                            else
                            {
                                foreach (TaskSubcatModel category in ViewBag.TaskSubcategories)
                                {
                                    if (category.Id == search.SubcategoryId)
                                    {
                                        <option value="@category.Id" selected>@category.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>

                    <a class="searchlinkbtn" href="@Url.Action("Categories", "Task")">
                        <div style="margin-top: 30px;">Пошук за категоріями</div>
                    </a>
                    <div class="searchheader">Ціна</div>
                    <div>
                        <input type="number" name="minPrice" class="inputSignIn"
                               value="@(search.MinPrice == null ? "" : search.MinPrice.Value.ToString())"
                               id="searchminPrice" title="Мінімальна ціна" />
                        <input type="number" name="maxprice" class="inputSignIn"
                               value="@(search.MaxPrice == null ? "" : search.MaxPrice.Value.ToString())"
                               id="searchmaxprice" title="Максимальна ціна" />
                    </div>

                    <input type="submit" class="nextstepsearch" value="Пошук" />
                }
            </div>
        </div>

        <div id="main">
            <div id="mainheader">Завдання</div>

            <div id="tasks">

                @foreach (TaskModel taskModel in tasks)
                {
                    <div class="task">
                        <div class="taskheader">
                            <div class="taskheadercontent">
                                <div class="taskcat"><span class="taskcategory"> <span class="catSym">@@</span>@taskModel.CategoryName </span> <span class="taskcategory"><span class="catSym">@@</span>@taskModel.SubcategoryName</span></div>

                                <div class="taskprice">@(taskModel.Price != null ? taskModel.Price.ToString() + " грн." : "")</div>

                                <div>
                                    <a href="@Url.Action("Id", "Task", new {id = taskModel.Id})" class="taskheadercontenttext">@taskModel.Header</a>
                                </div>
                            </div>
                        </div>
                        <div class="taskcommentshid">
                            @if (taskModel.Attachments != null)
                            {
                                if (taskModel.Attachments.Any(p => p.IsImage()))
                                {
                                    foreach (var image in taskModel.Attachments.Where(p => p.IsImage()))
                                    {
                                        <img class="attachImg" src="/Files/@image.RealFileName" />
                                    }
                                }
                            }
                            <div class="taskcontent">@taskModel.Content</div>

                            @if (taskModel.Attachments != null)
                            {
                                if (taskModel.Attachments.Any(p => !p.IsImage()))
                                {
                                    <div class="filerefs">
                                        @foreach (var link in taskModel.Attachments.Where(p => !p.IsImage()))
                                        {
                                            <div class="filerefcont">
                                                <img src="/Images/round/attachment.png" /> @Html.ActionLink(link.FileName,
                                                        "Download", "Download", new { path = link.RealFileName, fileName = link.FileName },
                                                        new { @class = "fileref" })
                                            </div>
                                        }
                                    </div>
                                }
                            }

                            <div class="tasksubscribers">

                                @if (taskModel.Subscribers.Any())
                                {
                                    <span class="tasksubscribersheader">Підписники </span>
                                    <div>
                                        @foreach (var sub in taskModel.Subscribers)
                                        {
                                            <div class="tasksubscriber">
                                                <a style="text-decoration: none;" href="@Url.Action("Id", "User", new {Id = sub.Subscriber.Id})"><span class="tasksubscribersuser">@@@sub.Subscriber.Username @(sub.Price == null || sub.Price == 0 ? "" : sub.Price.ToString() + " грн.")</span></a>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                            <div class="tasksubscribercont" data-bind="foreach: taskSubscribers">

                                <div data-bind="if: Id == @taskModel.Id">
                                    <div data-bind="template: { name: 'task-subscriber-template'}"></div>
                                </div>
                            </div>
                            @if (taskModel.Executive != null)
                            {
                                <div class="taskexecutive">
                                    <span class="tasksubscribersheader">Виконавець: </span>
                                    <div>
                                        <a style="text-decoration: none;" href="@Url.Action("Id", "User", new {Id = taskModel.Executive.Id})"><span class="tasksubscribersuser">@@@taskModel.Executive.Username </span></a>
                                   </div>
                                </div>
                            }
                            <div class="taskcommentscontent">
                                <div class="taskcommentscontentc">
                                    @if (taskModel.Comments.Count > 0)
                                    {
                                        foreach (var comment in taskModel.Comments)
                                        {
                                            <div class="taskcomment">
                                                <div class="taskcommentcontent">
                                                    <div class="taskcommentcontenttext">
                                                        @comment.Content
                                                    </div>
                                                </div>
                                                <div class="taskcommenttriangle"></div>
                                                <div class="taskcommentcreator">@@@comment.Creator.Username</div>
                                                <div>
                                                    <input class="taskcommentid" type="hidden" value="@comment.Id" />
                                                </div>
                                            </div>
                                        }
                                    }
                                    <div data-bind="foreach: newTaskComments">
                                        <div data-bind="if: Id == @taskModel.Id">
                                            <div data-bind="template: { name: 'task-comment-template'}"></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="maininputcomment">
                                    <div class="maininputcommentcontent">
                                        <textarea type="text" name="text" class="maininputcommentinput"></textarea>
                                        <input type="button" value="Відправити" class="maininputcommentsend" />
                                    </div>
                                    <div class="maininputcommenttriangle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tasktriangle"></div>
                        <div class="taskunder">
                            <div class="taskcreator">@@@taskModel.Creator.Username</div>
                            @if (taskModel.Subscribers.Any(u => u.Subscriber.Id == user.Id))
                            {
                                <div class="tasksubscribed">
                                    <img title="Завдання виконано" class="tasksubscribeimg1" src="/Images/solved.png" width="28" />
                                </div>
                            }
                            else
                            {
                                <div class="tasksubscribe">
                                    <img class="tasksubscribeimg" title="Підписатись на виконання" src="/Images/subscribe_to_task.png" width="28" />
                                </div>
                            }
                            <div class="taskcomments">
                                <span class="taskcount">@taskModel.Comments.Count</span> <img src="/Images/comments.png" align="middle" width="28" />
                            </div>
                            <div class="tasklikes">
                                <span class="taskcount">@taskModel.Likes.Count</span> <img src="/Images/like.png" width="28" />
                            </div>

                        </div>
                        <input type="hidden" class="taskid" value="@taskModel.Id" />
                    </div>
                }
            </div>
            <div id="templateTask"></div>
            <div id="templateTaskComment"></div>
            <div id="templateSubscriber"></div>
            <div id="templateExecutive"></div>
            <div id="templateAttachments"></div>
            <div id="templateImages"></div>
        </div>
    </div>
</body>
</html>

