@using Kampus.Entities
@using Kampus.Models
@{
    ViewBag.Title = "All";
    List<UserModel> users = ViewBag.Users;
    UserSearchModel search = ViewBag.UserSearch;
}

<html>

<head>
    <link rel="SHORTCUT ICON" href="~/Images/favicon.png" type="image/x-icon"/> <title>Профайли</title>

    <link rel="stylesheet" href="../../Content/null_style.css"/>
   
    <link rel="stylesheet" href="~/Content/toolbar_style.css" />
    <link rel="stylesheet" href="../../Content/profile_search.css" />
    <link rel="stylesheet" href="../../Content/notifications_style.css" />

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/My/notification.js"></script>
    <script>
        var prevScrollHeightVal = 0;

        

        $(document).ready(function() {

            notifications_init();
        });
    </script>
</head>
<body>
    @Html.Partial("Toolbar")
    <div id="wrapper">
        <div id="aside" >
            <div id="tasksearchform">
                @using (Html.BeginForm("SearchUsers", "Profile", FormMethod.Get))
                {
                    <input type="text" class="inputSignIn" id="searchrequest"
                           value="@(search.Request ?? "")" name="request" placeholder="Пошук" />

                    <div class="searchheader">Місто</div>

                    <div class="slate" id="searchuniversity" title="Університет">
                        <select name="city">
                            <option value=""></option>
                            @if (search.City == null)
                            {
                                foreach (CityModel city in ViewBag.Cities)
                                {
                                    <option value="@city.Name">@city.Name</option>
                                }
                            }
                            else
                            {
                                foreach (CityModel city in ViewBag.Cities)
                                {
                                    if (search.City == city.Name)
                                    {
                                        <option value="@city.Name" selected>@city.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@city.Name">@city.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>

                    <div class="searchheader">Університет</div>
                    <div class="slate" id="searchuniversity" title="Університет">
                        <select name="university">
                            <option value=""></option>
                            @if (search.University == null)
                            {
                                foreach (UniversityModel uni in ViewBag.Universities)
                                {
                                    <option value="@uni.Name">@uni.Name</option>
                                }
                            }
                            else
                            {
                                foreach (UniversityModel uni in ViewBag.Universities)
                                {
                                    if (search.University == uni.Name)
                                    {
                                        <option value="@uni.Name" selected>@uni.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@uni.Name">@uni.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>

                    <div class="searchheader">Факультет</div>
                    <div class="slate" id="searchfaculty" title="Факультет">
                        <select name="faculty">
                            <option value=""></option>

                            @if (search.Faculty == null)
                            {
                                foreach (UniversityFacultyModel fac in ViewBag.Faculties)
                                {
                                    <option value="@fac.Name">@fac.Name</option>
                                }
                            }
                            else
                            {
                                foreach (UniversityFacultyModel fac in ViewBag.Faculties)
                                {
                                    if (search.Faculty == fac.Name)
                                    {
                                        <option value="@fac.Name" selected>@fac.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@fac.Name">@fac.Name</option>
                                    }
                                }
                            }

                        </select>
                    </div>

                    <div class="searchheader">Курс</div>
                    <input type="number" value="@(search.Course == null ? "" : search.Course.Value.ToString())"
                           class="inputSignIn" id="searchrequest" name="course" />

                    <div class="searchheader">Вік</div>
                    <div>
                        <input type="number" name="minage" value="@(search.MinAge == null ? "" : search.MinAge.Value.ToString())"
                               class="inputSignIn" id="searchminprice" title="Мінімальна ціна" />
                        <input type="number" name="maxage" value="@(search.MaxAge == null ? "" : search.MaxAge.Value.ToString())"
                               class="inputSignIn" id="searchmaxprice" title="Максимальна ціна" />
                    </div>

                    <div class="searchheader">Рейтинг</div>
                    <div>
                        <input type="number" name="minrating" value="@(search.MinRating == null ? "" : search.MinRating.Value.ToString())" class="inputSignIn" id="searchminprice" title="Мінімальний рейтинг" />
                        <input type="number" name="maxrating" value="@(search.MaxRating == null ? "" : search.MaxRating.Value.ToString())" class="inputSignIn" id="searchmaxprice" title="Максимальний рейтинг" />
                    </div>

                    <input type="submit" class="nextstepsearch" value="Пошук" />
                }
            </div>
        </div>
        <div id="main">
            @if (!users.Any())
            {
                <h1 class="header">Немає користувачів</h1>
            }
            else
            {
                <h1 class="header">Користувачі</h1>
                <div id="profiles">
                    @foreach (var user in users)
                    {
                        <div class="profile">

                            <img align="left" class="profileavatar" src="@(user.Avatar ?? "http://www.redmangrove.com/blog/wp-content/uploads/2014/10/question-mark-xxl.png")" />

                            <a href="@Url.Action("Id", "Profile", new {Id = user.Id})" style="text-decoration: none;"><span class="profileusername">@@@user.Username</span></a>

                            <div>
                                <a class="buttonadd link" href="@Url.Action("Friends", "Profile", new {Id = user.Id})">Переглянути друзів</a>
                            </div>
                            <div>
                                <a class="buttonadd link" href="@Url.Action("Conversation", "Home", new {Username = user.Username})">Написати повідомлення</a>
                            </div>
                            <div>
                                <a class="buttonadd link" href="@Url.Action("ViewTasks", "Profile", new {userid = user.Id})">Переглянути завдання</a>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</body>

</html>

