@using Kampus.Models
@{
    ViewBag.Title = "Subscribers";
    List<UserShortModel> subscribers = ViewBag.UserProfile.Subscribers;
}


<html>
<head>
    <link rel="SHORTCUT ICON" href="~/Images/favicon.png" type="image/x-icon"/> <title>Підписники @@@ViewBag.UserProfile.Username</title>
    @Scripts.Render("~/bundles/jquery")

    <link rel="stylesheet" href="../../Content/null_style.css" />
    <link rel="stylesheet" href="../../Content/friends_style.css"/>
    <link rel="stylesheet" href="../../Content/notifications_style.css" />
    <link rel="stylesheet" href="~/Content/toolbar_style.css" />

    <script src="~/Scripts/My/notification.js"></script>
    <script>
        $(document).ready(function () {
            notifications_init();
        });
    </script>
</head>
<body>
    <div>
        @Html.Partial("Toolbar")
        <div id="wrapper">

            @if (!subscribers.Any())
            {
                <h1 class="header">У @@@ViewBag.UserProfile.Username немає підписників</h1>
            }
            else
            {
                <h1 class="header">Підписники(@subscribers.Count())</h1>
                <div id="profiles">
                    @foreach (var user in subscribers)
                    {
                        <div class="profile">

                            <img align="left" class="profileavatar" src="@(user.Avatar ?? "http://www.redmangrove.com/blog/wp-content/uploads/2014/10/question-mark-xxl.png")" />

                            <a href="@Url.Action("Id", "Profile", new { Id = user.Id })" style="text-decoration: none;"><span class="profileusername">@@@user.Username</span></a>

                       </div>
                    }
                </div>
            }
        </div>
    </div>
</body>
</html>