@model Kampus.Models.UserModel
@{
    ViewBag.Title = "Step1";
}

<html>
<head>
    <link rel="SHORTCUT ICON" href="/Images/favicon.png" type="image/x-icon"/> <title>Реєстрація</title>
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="~/Content/null_style.css"/>
    <link rel="stylesheet" href="~/Content/register_style.css"/>
</head>
    <body>
        <div id="logo">
            <img src="/Images/logo_blue.png" width="400"/>
        </div>
        <div id="main">
            <div class="text" style="font-size: 24pt">Приєднуйся до Kampus</div>
            <div class="text" style="font-size: 21pt">Ми - перша студентська інтернет-спільнота України</div>
            <div class="text" style="font-size: 21pt">Розпочати дуже легко</div>
            <div class="text" style="font-size: 24pt">Для початку давай познайомимось</div>
            <div class="text" style="font-size: 24pt">Твоє ім'я і прізвище</div>
            @using (Html.BeginForm("Step1", "Register", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <div id="inputsfullname">
                    @Html.TextBoxFor(model => model.FullName, new { id = "inputSignInName", @class = "inputSignInRegister inputSignIn", placeholder = "Ім'я та прізвище", type = "text" })
                    @Html.ValidationMessageFor(model => model.FullName)
                </div>
                <div class="text" style="font-size: 21pt">Поділися з нами своєю поштою, щоб завжди бути в курсі подій</div>
                <div id="inputemail">
                    @Html.TextBoxFor(model => model.Email, new { id = "inputSignInEmail", @class = "inputSignIn inputSignInRegister", placeholder = "Email", type = "email" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div id="inputpassword">
                    @Html.TextBoxFor(model => model.Password, new { id = "inputSignInPassword", @class = "inputSignIn inputSignInRegister", placeholder = "Пароль", type = "password" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="text" style="font-size: 20pt">Як бачиш нічого сташного, давай продовжимо</div>
                
                <input type="submit" id="nextstep" value="Продовжити" />
                
            }
        </div>
    </body>
</html>