@using Kampus.Models
@{
    Layout = null;
    var firstmes = (List<MessageModel>)ViewBag.FirstMessages;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="SHORTCUT ICON" href="/Images/favicon.png" type="image/x-icon"/> <title>Повідомлення</title>
    <link rel="stylesheet" href="~/Content/null_style.css" />
    <link rel="stylesheet" href="~/Content/messages_style.css"/>
    <link rel="stylesheet" href="~/Content/notifications_style.css"/>
    <link rel="stylesheet" href="~/Content/toolbar_style.css" />
    <link rel="stylesheet" href="~/Content/attach_style.css" />

    @Scripts.Render("~/bundles/jquery")

    <script src="~/Scripts/Libs/knockout/knockout-3.4.0.js" type="text/javascript"></script>
    <script src="~/Scripts/My/notification.js" type="text/javascript"></script>
    <script src="~/Scripts/My/message_conversation.js" type="text/javascript"></script>
</head>
<body>
<div>
    @Html.Partial("Toolbar")

    <div id="wrapper">
        <div id="aside">
            <div id="asideusers">
                @if (ViewBag.Messangers != null)
                {
                     foreach (var user in ViewBag.Messangers)
                     {
                         <div class="asideuser">
                             <div class="asideuseravatar">
                                 <img class="mainavatarimg" src="@user.Avatar"/>
                             </div>
                             <div class="asideuserdetails">
                                 @if (ViewBag.SecondUser == user.Username)
                                 {
                                     <div class="asideusername">
                                         <a href="/Home/Conversation?username=@user.Username" style="text-decoration: underline">@user.Username</a>
                                     </div>
                                 }
                                 else
                                 {
                                     <div class="asideusername">
                                         <a href="/Home/Conversation?username=@user.Username" style="text-decoration: none">@user.Username</a>
                                     </div>
                                 }
                                 <div class="asideusermessage">
                                     @if (firstmes.Any(m => m != null))
                                     {
                                         if (firstmes[ViewBag.Messangers.IndexOf(user)].Content.Length > 101)
                                         {
                                             @firstmes[ViewBag.Messangers.IndexOf(user)].Content.Substring(0, 100)
                                         }
                                         else
                                         {
                                             @firstmes[ViewBag.Messangers.IndexOf(user)].Content
                                         }
                                     }
                                 </div>
                             </div>
                         </div>
                     }
                }
            </div>
        </div>
        <div id="main">
            <div id="mainmessages">
                <div id="receivedmessages">
                    @if (ViewBag.Messages != null)
                    {
                        foreach (MessageModel message in ViewBag.Messages)
                        {
                            if (message.Sender.Id == ViewBag.CurrentUser.Id)
                            {
                                <div class="mainsendermsg">
                                    <div class="mainsenderavatar">
                                        <div class="mainmsgavatarst">
                                            <img class="mainavatarimg" src="@((message.Sender.Avatar == null) ?
                                         "http://www.redmangrove.com/blog/wp-content/uploads/2014/10/question-mark-xxl.png"
                                         : @message.Sender.Avatar )" width="50" />
                                        </div>
                                    </div>
                                    <div class="mainsendermsgcontent">
                                        @if (message.Attachments.Count > 0)
                                        {
                                            if (message.Attachments.Any(f => f.IsImage()))
                                            {
                                                <div class="mainsendermsgimages">

                                                    @foreach (var image in message.Attachments.Where(f => f.IsImage()))
                                                    {

                                                        <img width="400" src="/Files/@image.RealFileName" />
                                                    }
                                                </div>
                                            }
                                        }
                                        <div class="mainsendermsgcontenttext">
                                            @message.Content
                                        </div>
                                        @if (message.Attachments.Count > 0)
                                        {
                                            if (message.Attachments.Any(f => !f.IsImage()))
                                            {
                                                <div class="filerefs">
                                                    @foreach (var link in message.Attachments.Where(f => !f.IsImage()))
                                                    {
                                                        <div class="filerefcont">
                                                            <img src="/Images/round/attachment.png" /> @Html.ActionLink(link.FileName, "Download", "File", new { path = link.RealFileName, fileName = link.FileName }, new { @class = "fileref" })
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        }
                                    </div>

                                    <div class="mainsendermsgtriangle"></div>
                                    <div class="mainsendermsgusername"><a class="mainsendermsgusernamelnk" href="@Url.Action("Id", "User", new {id=message.Sender.Id})">@@@message.Sender.Username</a></div>
                                    <input type="hidden" value="@message.Id" class="messageid" name="messageid" />
                                </div>
                            }
                            else
                            {

                                <div class="mainreceivermsg">

                                    <div class="mainreceiveravatar">
                                        <div class="mainmsgavatarst">
                                            <img class="mainavatarimg" src="@((message.Sender.Avatar == null) ? "http://www.redmangrove.com/blog/wp-content/uploads/2014/10/question-mark-xxl.png" : @message.Sender.Avatar )" width="50" />
                                        </div>
                                    </div>
                                    <div class="mainreceivermsgcontent">
                                        @if (message.Attachments.Count > 0)
                                        {
                                            if (message.Attachments.Any(f => f.IsImage()))
                                            {
                                                <div class="mainreceivermsgimages">

                                                    @foreach (var image in message.Attachments.Where(f => f.IsImage()))
                                                    {
                                                        <img width="400" src="/Files/@image.RealFileName" />
                                                    }
                                                </div>
                                            }
                                        }
                                        <div class="mainreceivermsgcontenttext">
                                            @message.Content
                                        </div>
                                        @if (message.Attachments.Count > 0)
                                        {
                                            if (message.Attachments.Any(f => !f.IsImage()))
                                            {
                                                <div class="filerefs">
                                                    @foreach (var link in message.Attachments.Where(f => !f.IsImage()))
                                                    {
                                                        <div class="filerefcont">
                                                            <img src="/Images/round/attachment.png" /> @Html.ActionLink(link.FileName, "Download", "File", new { path = link.RealFileName, fileName = link.FileName }, new { @class = "fileref" })
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        }
                                    </div>

                                    <div class="mainreceivermsgtriangle"></div>
                                    <div class="mainreceivermsgusername"><a class="mainreceivermsgusernamelnk" href="@Url.Action("Id", "User", new {id=message.Sender.Id})">@@@message.Sender.Username</a></div>
                                    <input type="hidden" value="@message.Id" class="messageid" name="messageid" />

                                </div>

                            }
                        }

                    }
                    <div data-bind="template: { name: 'message-template', foreach: newMessages }">

                    </div>
                    <div id="templateMessages"></div>
                    <div id="templateAttachments"></div>
                    <div id="templateImages"></div>
                </div>

                <div>
                    <div class="maininputmsg">
                        @if (ViewBag.UserProfile.Id != -1)
                        {
                            <div class="maininputmsgcontent">
                                <div class="maininputmsgimages" data-bind="template: { name: 'attachment-image' , foreach: attachmentsImages }">

                                </div>
                                <textarea name="text" class="maininputmsgcontentinput"></textarea>
                                
                                <div class="filerefs" data-bind="template: { name: 'attachment-file', foreach: attachments }">

                                </div>
                                
                                <input type="submit" value="Відправити" class="maininputmsgcontentsend" />
                                <img class="maininputaddfile" src="/Images/add_file.png" />
                                <img class="maininputaddphoto" src="/Images/add_photo.png" />
                                <input id="maininputmsgfilesin"
                                        type="file" name="file" multiple />
                            </div>
                            <div class="maininputmsgtriangle"></div>

                            <input type="hidden" value="@ViewBag.UserProfile.Id" name="userid" />                 
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>

    <input type="hidden" value="@ViewBag.CurrentUser.Id" id="senderid"/>
    <input type="hidden" value="@ViewBag.UserProfile.Id" id="receiverid"/>
</div>
</body>
</html>