@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="SHORTCUT ICON" href="~/images/favicon.png" type="image/x-icon" />
    <title></title>
</head>
<body>
    <div>
        <div id="toolbar">
            <div id="toolbarLogo">
                <a href="@Url.Action("Index", "User")"><img src="/Images/logo.png"></a>
            </div>
            <div id="toolbarMenu">
                <div>
                    <img class="notificationicon" src="/Images/toolbar/not.png" title="Сповіщення" />
                    <div id="notifDiv">
                        <ul id="notificationMenu" class="notifications"></ul>
                        <div id="readAllBtn">Read All</div>
                    </div>
                </div>
                <div>
                    <a href="@Url.Action("All", "User")"><img src="/Images/toolbar/people.png" title="Люди" /></a>
                </div>
                <div>
                    <a href="@Url.Action("Index", "Message")"><img src="/Images/toolbar/messages.png" title="Повідомлення" /></a>
                </div>
                <div>
                    <a href="@Url.Action("Index", "Task")"><img src="/Images/toolbar/task.png" title="Завдання" /></a>
                </div>
                <div>
                    <a href="@Url.Action("Index", "Settings")"><img src="/Images/toolbar/settings.png" title="Налаштування" /></a>
                </div>
                <div>
                    <a href="@Url.Action("Logout", "User")"><img src="/Images/toolbar/logout.png" title="Вихід" /></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
