@{
    ViewBag.Title = "Groups";
}
@model Kampus.Models.GroupModel

<h2>Groups</h2>

@using (Html.BeginForm("CreateGroup", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        
        @Html.AntiForgeryToken()

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Avatar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Avatar)
        </div>
        
        <input type="submit" value="Create" />
    </fieldset>
}

@foreach (var group in ViewBag.CurrentUser.Groups)
{
    <div>

        <div>Group name: <a href="@Url.Action("Id", "Group", new  { group.Id })">@group.Name</a>  </div>
        <div>Group status: @group.Status </div>
        <div>Group avatar: @group.Avatar </div>
    </div>

    <div>-------------------------------------------------------</div>
}