@model Kampus.Entities.Message

<div class="mainsendermsg">
    <div class="mainsenderavatar">
        <div class="mainmsgavatarst">
            <img class="mainavatarimg" src="@((Model.Sender.Avatar == null) ? "http://www.redmangrove.com/blog/wp-content/uploads/2014/10/question-mark-xxl.png" : @message.Sender.Avatar )" width="50" />
        </div>
    </div>
    <div class="mainsendermsgcontent">
        <div class="mainsendermsgcontenttext">
            @Model.Content
        </div>
        @if (Model.Attachments.Count > 0)
        {
            <div class="filerefs">
                @foreach (var link in Model.Attachments)
                {
                    <div class="filerefcont">
                        <img src="~/Images/round/attachment.png" /> @Html.ActionLink(link.FileName, "Download", "Download", new { path = link.Path, fileName = link.FileName }, new { @class = "fileref" })
                    </div>
                }
            </div>
        }
    </div>

    <div class="mainsendermsgtriangle"></div>
    <div class="mainsendermsgusername"><a class="mainsendermsgusernamelnk" href="@Url.Action("Id", "Profile", new { id = Model.Sender.Id })">@@@Model.Sender.Username</a></div>
    <input type="hidden" value="@Model.Id" class="messageid" name="messageid" />
</div>