@using Kampus.Models
@{
    ViewBag.Title = "Friends";
    List<UserShortModel> friends = ViewBag.CurrentUser.Friends;
    
}

<html>
<head>
    <link rel="SHORTCUT ICON" href="/Images/favicon.png" type="image/x-icon"/>
    <title>Друзі</title>
    
    @Scripts.Render("~/bundles/jquery")

    <link rel="stylesheet" href="~/Content/null_style.css" />
    <link rel="stylesheet" href="~/Content/friends_style.css"/>
    <link rel="stylesheet" href="~/Content/notifications_style.css"/>
    <link rel="stylesheet" href="~/Content/toolbar_style.css" />

    <script src="~/Scripts/My/notification.js"></script>
</head>
<body>
    @Html.Partial("Toolbar")
    <div id="wrapper">

        @if (!friends.Any())
        {
            <h1 class="header">Немає друзів</h1>
        }
        else
        {
            <h1 class="header">Друзі(@friends.Count())</h1>
            <div id="profiles">
                @foreach (var user in friends)
                {
                    <div class="profile">

                        <img align="left" class="profileavatar" src="@(user.Avatar ?? "http://www.redmangrove.com/blog/wp-content/uploads/2014/10/question-mark-xxl.png")" />

                        <a href="@Url.Action("Id", "User", new { Id = user.Id })" style="text-decoration: none;"><span class="profileusername">@@@user.Username</span></a>

                        @if (ViewBag.CurrentUser.Id == ViewBag.UserProfile.Id)
                        {
                            <div>
                                @using (Html.BeginForm("RemoveFriend", "User", FormMethod.Post))
                                {
                                    <input type="hidden" value="@user.Id" name="friendid" />
                                    <input type="submit" value="Видалити з друзів" class="buttonadd" />
                                }
                            </div>

                            <div>
                                <a class="buttonadd link" href="@Url.Action("FriendsById", "User", new { Id = user.Id })">Переглянути друзів</a>
                            </div>
                            <div>
                                <a class="buttonadd link" href="@Url.Action("Conversation", "Home", new { Username = user.Username })">Написати повідомлення</a>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
</body>
</html>
