@using Kampus.Entities
@using Kampus.Models
@{
    ViewBag.Title = "Index";
}

<h1>Group: @ViewBag.Group.Name</h1>
<h2>Status: @ViewBag.Group.Status</h2>
<div>
    <img src="@ViewBag.Group.Avatar"/>
</div>

<div>Members count: @(ViewBag.Group.Members != null ? ViewBag.Group.Members.Count : 0 ) </div>

<div>
    @if (ViewBag.IsMember)
    {
        using(Html.BeginForm("SubscribeForTheGroup", "Group", FormMethod.Post))
        {
            <input type="hidden" name="res" value="0"/>
            <input type="submit" value="Unsubscribe"/>
        }
    }
    else
    {
        using(Html.BeginForm("SubscribeForTheGroup", "Group", FormMethod.Post))
        {
            <input type="hidden" name="res" value="1"/>
            <input type="submit" value="Subscribe"/>
        }
    }
</div>

<div>
    @if (ViewBag.Group.Members != null)
    {
        foreach (var mem in ViewBag.Group.Members)
        {
            <div>@mem.Username</div>
        }
    }
</div>

<div>
    <div>
        @if (ViewBag.IsAdmin)
        {
            using (Html.BeginForm("WriteGroupPost", "Group", FormMethod.Post))
            {

                <div>
                    Write post: <textarea rows="10" cols="45" name="content"></textarea>
                </div>

                <input type="submit" value="Post" />

            }


        }
    </div>
    <div>
        <div>
            <h2>Posts</h2>
            <div>
                @if (ViewBag.Group.Posts != null)
                {
                    foreach (GroupPostModel post in ViewBag.Group.Posts)
                    {
                        <div class="grouppost">
                            <div>Sender: @post.Creator.Username</div>
                            <div>Content: @post.Content</div>
                            <div>Date: @post.CreationTime.ToString()</div>
                            <div>Likes: @((post.Likes != null) ? post.Likes.Count : 0)</div>

                            @using (Html.BeginForm("LikeGroupPost", "Group", FormMethod.Post))
                            {
                                <input type="hidden" value="@post.Id" name="postid" />
                                <input type="submit" value="Like!" />
                            }

                            <div>Comments:
                                @foreach (var comment in post.Comments)
                                {
                                    <div>Sender: @comment.Creator.Username</div>
                                    <div>Content: @comment.Content</div>
                                    <div>--------------</div>
                                }
                            </div>

                            @using (Html.BeginForm("WriteGroupComment", "Group", FormMethod.Post))
                            {
                                <div>
                                    Write post: <textarea rows="10" cols="45" name="content"></textarea>
                                </div>

                                <input type="hidden" value="@post.Id" name="postid"/>
                                
                                <input type="submit" value="Post" />
                            }
                            </div>
                        <div>------------------------------------------------------</div>
                    }
                }
            </div>
        </div>
    </div>
</div>

